.company-slider .splide__list {
  height: inherit;
}
#company-slider {
  overflow-x: hidden;
}
#company-slider .splide__track {
  overflow: visible !important;
}

/* @media (max-width: 768px) {
  .company-slider .splide__list {
    height: 328px;
  }
} */
